@model IEnumerable<WebAppCleanArch.Domain.Entities.Student>

@{
    ViewData["Title"] = "Daftar Siswa";
}

<h2>Daftar Siswa</h2> 

<p>
    <a asp-action="Create">Tambah Siswa Baru</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Age)</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Age)</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">View Courses</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detail</a> | <a asp-action="Delete"
                                                                                asp-route-id="@item.Id">Hapus</a>
            </td>
        </tr>
    }
    </tbody>
</table>
